body {
  background-color: #F3F3F3;
  font-family: 'Lato', sans-serif;
}


#tweets{
  background-color: white;
  overflow: auto;
  height: 60%;
  width: 100%;
  padding: 10px;
  border: 8px solid #424547;
  margin-bottom: 5px;
  text-align: left;
}

#map {
  height: 500px; 
  min-width: 310px; 
  max-width: 800px; 
  margin: 0 auto; 
}
.loading {
  margin-top: 10em;
  text-align: center;
  color: red;
}