body {
  white-space:nowrap;
  background-color: #F3F3F3;
  font-family: 'Lato', sans-serif;
}

#tweets{
  background-color: white;
  overflow: auto;
  height: 40%;
  width: 100%;
  padding: 10px;
  border: 8px solid #424547;
  margin-bottom: 5px;
  text-align: left;
}

#spline {
  height: 40%; 
  width: 100%;
  margin: auto; 
}
.loading {
  margin-top: 10em;
  text-align: center;
  color: gray;
}
table{
  text-align: center;
  margin: auto;
}

#container{
  text-align: center;
  width: 100%;
  display:inline;
  margin: auto;
}
